# Dependencies
node_modules
.pnpm-store

# Build outputs
dist
.turbo

# Environment
.env
.env.local
.env.*.local

# IDE
.idea
.vscode
*.swp
*.swo
.DS_Store

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*

# Testing
coverage

# Prisma
server/prisma/migrations

# Uploads
server/uploads

# Misc
*.tgz
.cache
